<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>K-Path</title>
</head>
<body>
<div id="content" layout:fragment="content">
    <h3>Define rule</h3>

    <form action="" method="POST">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        Minimum Experience :
        <input type="text" name="experience"/>
        <br/>
        Area
        <input type="text" name="area"/>
        <br/>
        Speciality
        <input type="text" name="speciality"/>
        <br/>
        <input type="submit" value="Create Rule"/>

    </form>
</div>
</body>
</html>
